<table style="direction:ltr;text-align:left;background-color:rgb(255,255,255);width:444px;color:rgb(36,36,36);box-sizing:border-box;border-collapse:collapse;border-spacing:0px;font-family:Arial,Helvetica,sans-serif;" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td style="direction:ltr;text-align:left;padding:0 5.4pt;vertical-align:top;width:333.15pt;" colspan="6">
      <p style="margin:0;font-size:12pt;">
        <span style="color:rgb(75,76,83);"><b>Rika Marshall</b></span>
      </p>
      <p style="margin:0;font-size:10pt;">
        <span style="color:rgb(75,76,83);"><b>National Business Development Manager</b></span>
      </p>
    </td>
  </tr>
  <tr>
    <td style="direction:ltr;text-align:left;padding:0 5.4pt;vertical-align:top;width:149pt;height:23.65pt;" colspan="4">
      <p style="margin:0;font-size:9pt;">
        <img src="https://stmedemsignatures.blob.core.windows.net/images/medimap-logo.png" alt="MediMap" width="151" height="45" style="width:113.99pt;height:33.75pt;min-width:auto;min-height:auto;margin:0;">
      </p>
    </td>
    <td style="direction:ltr;text-align:left;padding:0 5.4pt;vertical-align:top;width:184.15pt;height:23.65pt;" colspan="2">
      <p style="margin:0;font-size:9pt;"><span style="color:rgb(36,36,36);">&nbsp;</span></p>
    </td>
  </tr>
  <tr>
    <td style="direction:ltr;text-align:left;padding:0 5.4pt;vertical-align:top;width:333.15pt;height:5.65pt;" colspan="6">
      <p style="margin:0;font-size:9pt;"><span style="color:rgb(36,36,36);">&nbsp;</span></p>
    </td>
  </tr>
  <tr>
    <td style="direction:ltr;text-align:left;padding:0 5.4pt;vertical-align:top;width:21.3pt;height:14.2pt;">
      <p style="margin:0;font-size:9pt;"><b><span style="color:rgb(75,76,83);">M</span></b></p>
    </td>
    <td style="direction:ltr;text-align:left;padding:0 5.4pt;vertical-align:top;width:311.81pt;height:14.2pt;" colspan="5">
      <p style="margin:0;font-size:9pt;"><span style="color:rgb(36,36,36);">027 9403 600</span></p>
    </td>
  </tr>
  <tr>
    <td style="direction:ltr;text-align:left;padding:0 5.4pt;vertical-align:top;width:21.3pt;height:14.2pt;">
      <p style="margin:0;font-size:9pt;"><b><span style="color:rgb(75,76,83);">E</span></b></p>
    </td>
    <td style="direction:ltr;text-align:left;padding:0 5.4pt;vertical-align:top;width:311.81pt;height:14.2pt;" colspan="5">
      <p style="margin:0;font-size:9pt;">
        <a href="mailto:rika@medimap.health" style="color:rgb(70,120,134);margin:0;text-decoration:none;">rika@medimap.health</a>
      </p>
    </td>
  </tr>
  <tr>
    <td style="direction:ltr;text-align:left;padding:0 5.4pt;vertical-align:top;width:21.3pt;height:14.2pt;">
      <p style="margin:0;font-size:9pt;"><b><span style="color:rgb(75,76,83);">W</span></b></p>
    </td>
    <td style="direction:ltr;text-align:left;padding:0 5.4pt;vertical-align:top;width:311.81pt;height:14.2pt;" colspan="5">
      <p style="margin:0;font-size:9pt;">
        <a href="http://www.medimap.co.nz/" style="color:rgb(70,120,134);margin:0;text-decoration:none;">www.medimap.co.nz</a>
      </p>
    </td>
  </tr>
  <tr>
    <td style="direction:ltr;text-align:left;padding:0 5.4pt;width:21.3pt;height:24.6pt;">
      <p style="margin:0;font-size:12pt;">
        <a href="https://www.facebook.com/medimap/" style="color:rgb(0,0,0);margin:0;text-decoration:none;">
          <img src="https://stmedemsignatures.blob.core.windows.net/images/icon-facebook.png" alt="Facebook" width="16" height="16" style="width:12.74pt;height:12.74pt;min-width:auto;min-height:auto;margin:0;">
        </a>
      </p>
    </td>
    <td style="direction:ltr;text-align:left;padding:0 5.4pt;width:21.2pt;height:24.6pt;">
      <p style="margin:0;font-size:12pt;">
        <a href="https://www.linkedin.com/company/medi-map" style="color:rgb(0,0,0);margin:0;text-decoration:none;">
          <img src="https://stmedemsignatures.blob.core.windows.net/images/icon-linkedin.png" alt="LinkedIn" width="18" height="16" style="width:13.5pt;height:12.74pt;min-width:auto;min-height:auto;margin:0;">
        </a>
      </p>
    </td>
    <td style="direction:ltr;text-align:left;padding:0 5.4pt;width:21.3pt;height:24.6pt;">
      <p style="margin:0;font-size:12pt;">
        <a href="http://www.medimap.co.nz/" style="color:rgb(0,0,0);margin:0;text-decoration:none;">
          <img src="https://stmedemsignatures.blob.core.windows.net/images/icon-globe.png" alt="Website" width="16" height="16" style="width:12.74pt;height:12.74pt;min-width:auto;min-height:auto;margin:0;">
        </a>
      </p>
    </td>
    <td style="direction:ltr;text-align:left;padding:0 5.4pt;width:198.43pt;height:24.6pt;" colspan="2">
      <p style="margin:0;font-size:5pt;text-align:center;">
        <span style="color:rgb(75,76,83);">PART OF THE MEDEM GROUP</span>
      </p>
    </td>
    <td style="direction:ltr;text-align:left;padding:0 5.4pt;width:70.9pt;height:24.6pt;">
      <p style="margin:0;font-size:12pt;text-align:center;">
        <a href="https://www.medemgroup.com/" style="color:rgb(0,0,0);margin:0;text-decoration:none;">
          <img src="https://stmedemsignatures.blob.core.windows.net/images/medem-logo.png" alt="Medem" width="66" height="18" style="width:50.24pt;height:13.5pt;min-width:auto;min-height:auto;margin:0;">
        </a>
      </p>
    </td>
  </tr>
</table>